<div class="test-entry">
	<select [(ngModel)]="selectLocale" (change)="changeLocale()">
		<option value="en-us">English (US)</option>
		<option value="pt-br">Português (Brasil)</option>
	</select>
</div>
<p smarti18n="TestComponent.truth.fallback"></p>
<div class="test-entry" smarti18n="TestComponent.test1">
	test doesn't work!
</div>
<div class="test-entry">
	<button (click)="pipePath = 'pipe.workswell'">{{ pipePath | smarti18n }}</button>
</div>
<div class="test-entry inline-children">
	<button smarti18n="TestComponent.truth.toggle" (click)="isTrue = !isTrue"></button>
	<div style="padding-left: 10px;" *ngIf="isTrue" smarti18n="TestComponent.truth.isTrue"></div>
</div>

<div class="test-entry">
	<h4>Var interpolation:</h4>
	<p smarti18n="TestComponent.interpolation.test1" [smarti18nParams]="{iguanaName: 'Sauron', blackCatName: 'Lilith', whiteCatName: 'Isis'}"></p>
	<h4>Same as above, but with pipe:</h4>
	<p>{{ 'TestComponent.interpolation.test1' | smarti18n:{iguanaName: 'Sauron', blackCatName: 'Lilith', whiteCatName: 'Isis'} }}</p>
</div>
<div class="test-entry">
		<h4>pluralization:</h4>
		<h5>Simple (singular):</h5>
		<p smarti18n="TestComponent.pluralization.test1" smarti18nToCount="1"></p>
		<h5>Simple (plural):</h5>
		<p smarti18n="TestComponent.pluralization.test1" smarti18nToCount="5"></p>
		<h5>Complex (none):</h5>
		<p smarti18n="TestComponent.pluralization.test2" smarti18nToCount="0"></p>
		<h5>Complex (one):</h5>
		<p smarti18n="TestComponent.pluralization.test2" smarti18nToCount="1"></p>
		<h5>Complex (some):</h5>
		<p smarti18n="TestComponent.pluralization.test2" smarti18nToCount="5"></p>
		<h5>Complex (many):</h5>
		<p smarti18n="TestComponent.pluralization.test2" smarti18nToCount="20"></p>

		<h4>pluralization with variable interpolation:</h4>
		<h5>Simple (singular):</h5>
		<p smarti18n="TestComponent.pluralization.test3" smarti18nToCount="1" [smarti18nParams]="{qtd: 1}"></p>
		<h5>Simple (plural):</h5>
		<p smarti18n="TestComponent.pluralization.test3" smarti18nToCount="5" [smarti18nParams]="{qtd: 5}"></p>

		<h4>Pluralization - Same as above, with pipe:</h4>
		<h5>Simple (singular):</h5>
		<p>{{ 'TestComponent.pluralization.test1' | smarti18n:null:1 }}</p>
		<h5>Simple (plural):</h5>
		<p>{{ 'TestComponent.pluralization.test1' | smarti18n:null:5 }}</p>
		<h5>Complex (none):</h5>
		<p>{{ 'TestComponent.pluralization.test2' | smarti18n:null:0 }}</p>
		<h5>Complex (one):</h5>
		<p>{{ 'TestComponent.pluralization.test2' | smarti18n:null:1 }}</p>
		<h5>Complex (some):</h5>
		<p>{{ 'TestComponent.pluralization.test2' | smarti18n:null:5 }}</p>
		<h5>Complex (many):</h5>
		<p>{{ 'TestComponent.pluralization.test2' | smarti18n:null:20 }}</p>

		<h4>pluralization with variable interpolation and pipe:</h4>
		<h5>Simple (singular):</h5>
		<p>{{ 'TestComponent.pluralization.test3' | smarti18n:{qtd: 1}:1 }}</p>
		<h5>Simple (plural):</h5>
		<p>{{ 'TestComponent.pluralization.test3' | smarti18n:{qtd: 5}:5 }}</p>
</div>
