<div class="test-entry">
	<select [(ngModel)]="selectLocale" (change)="changeLocale()">
		<option value="en-us">English (US)</option>
		<option value="pt-br">Português (Brasil)</option>
	</select>
</div>
<p smarti18n="TestComponent.truth.fallback"></p>
<div class="test-entry" smarti18n="TestComponent.test1">
	test doesn't work!
</div>
<div class="test-entry">
	<button (click)="pipePath = 'pipe.workswell'">{{ pipePath | smarti18n }}</button>
</div>
<div class="test-entry inline-children">
	<button smarti18n="TestComponent.truth.toggle" (click)="isTrue = !isTrue"></button>
	<div style="padding-left: 10px;" *ngIf="isTrue" smarti18n="TestComponent.truth.isTrue"></div>
</div>

<!-- <div class="test-entry">
	<h4 smarti18n="TestComponent.interpolation.test1" [smarti18nParams]="{iguanaName: 'Sauron', blackCatName: 'Lilith', whiteCatName: 'Isis'}"></h4>
</div>
<div class="test-entry">
	<h5>Same as above, but with pipe:</h5>
	<p>{ 'TestComponent.interpolation.test1' | smarti18n:{iguanaName: 'Sauron', blackCatName: 'Lilith', whiteCatName: 'Isis'} }}</p>
</div> -->
